.clickable {
	cursor:pointer;
}

.navbar-default {
	min-height:50px;
}

.name-column {
	width:92.5%;
}

.admin-delete {
	cursor:pointer;
	color:#a94442;
}

.navbar-nav>li>a {
	padding-top: 16px;
}

.admin-add {
	cursor:pointer;
}

.heading-panel-button {
	margin-top: -7px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    margin: 5px;
    text-align: center;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #f5f5f5;
}